body{
    background-color: rgb(111, 111, 248);
    font-size: 22px;
    color: aliceblue;
    text-align: center;
}
header{
    background-color: brown;
    width: fit-content;
    margin: auto;
}
input{
    width: 250px;
    height: 30px;
    text-align: center;
}

button{
    width: 250px;
    height: 30px;
    background-color: green;
    color: white;
    border-radius: 20px;
}